input {
  border-radius: 10px;
  height: 1.5em;
  width: 30%;
}

.card {
  background-color: lightgrey;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  margin: 1em 0;
}

.dropdown {
  background-color: lightgray;
  max-height: 30vh;
  overflow: auto;
  border-radius: 1em;
  margin-top: 10px;
  width: 30%;
}

.dropdown>p {
  padding: 1em;
  margin: 0;
}

.dropdown>p:hover {
  cursor: pointer;
  background-color: rgb(188, 187, 187);
}